<p id="notice"><%= notice %></p>

<h1>Listing Mamals</h1>

<table>
  <thead>
    <tr>
      <th>Pregnancy time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mamals.each do |mamal| %>
      <tr>
        <td><%= mamal.pregnancy_time %></td>
        <td><%= link_to 'Show', mamal %></td>
        <td><%= link_to 'Edit', edit_mamal_path(mamal) %></td>
        <td><%= link_to 'Destroy', mamal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mamal', new_mamal_path %>
